<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1> Length is  @Model.GetnumberLength() </h1>
    <h1> Width is @Model.GetnumberWidth() </h1>
    <h1> Height is @Model.GetnumberHeight() </h1>
    <h1> Weight is @Model.GetnumberWeight() </h1>
    <h1> Volume is @Model.GetnumberVolume() </h1>
    @* <h1> Cost to ship is @Model.GetnumberCost() </h1> *@
  </body>
</html>
